<%- include("header") -%> 
<!-- To include a consistent header and footer across all pages. -->

<h2>About Page.</h2>
<p>This is the about page. This ToDo List is created by Guche.</p>

<%- include("footer") -%>